
/* ==========================================================================
   Mobile Devices
   ========================================================================== */
  .fs {
    /*height is relative to size of viewport (window)*/
    height: 100vh; } 
  body {
    font-weight: 100; }
  h1 {
    font-size: 2em;
    }
  p {
    font-size: 15.5px;
    font-weight: bold; }

  /* =Header */
  .header-container {
    text-align: center;
    /*color: #ffffff;*/
    color: #333;
  }

  .header-container .wrapper {
      height: 40%;
      padding-top: 10px;
      z-index: 2;
      position: relative; }

  .header-container .wrapper .title{
    margin: 0;
    }
    .header-container .wrapper h2{
      margin: 0;
    }
    .header-container .wrapper p{
      /*text-align: left;*/
    }


  .bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5; }

    .header-container .bcg {
      background-image: url(../img/img3.jpg);
      background-size: cover;
      opacity: 0.9; }
    #slide01 .bcg {
      background: url(../img/img2.jpg) no-repeat center center;
      background-size: cover;
      }
    #slide02 .bcg {
      background: url(../img/img4.jpg) no-repeat center center;
      background-size: cover; }
    #slide03 .bcg {
      background: url(../img/img1.jpg) no-repeat center center;
      background-size: cover;
      opacity: 0.1 !important; }

  .nav-wrapper nav, .nav-wrapper .social-container{
/*for right side setup      
    position: fixed;
    z-index: 100;
    top: 140px;
    text-align: right;
/*     * */
    position: fixed;
    z-index: 100;
    top: 135px;
    text-align: left;
    left: 3px;
  }

  nav {
    position: fixed;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    }

    nav .nav-dot {
      visibility: hidden;
    }

    nav a {
/* for right side setup       */
/*       left: 40px; */
      max-width: 72px;
      display: block;
      color: #ffffff;
      text-decoration: none; }

    nav a:hover .nav-label {
      display: block;
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px);
      opacity: 1;}


    nav .nav-label {
      visibility: visible;
      display: block;
      opacity: 0.7;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
              transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
 }
           
/*        size of nav text, changes social media    */
       nav span.nav-label{
        font-size: 12px;
        font-weight: bold;
       }

    nav.is-dark a {
      color: #212121; }
    nav.is-dark .nav-dot {
      background-color: rgba(0, 0, 0, 0.5); }
    nav.is-light a {
      color: #ffffff; }
    nav.is-light .nav-dot {
      background-color: rgba(255, 255, 255, 0.5); }

    .nav-wrapper .social-container{
/*for right side setup        */
/*       right: 30px; */
      padding-top: 45px;
      z-index: 100;
      position: fixed;
      display:inline-block;
      width: 1px;
      height: 1px;
      text-align: center;
    }

    .social-container a:link{
      opacity: .7;
      text-decoration: none;
    }
    .social-container a:hover{
      opacity: 1 ;
    }

  /* =Header */
  .header-container {
    overflow: hidden;
    position: relative; }
    .header-container .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -120%);
          -ms-transform: translate(-50%, -120%);
              transform: translate(-50%, -120%);
      margin: 0;
      padding: 0; }
    .header-container:before {
      font-size: 70em; }

  .scroll-hint{
    visibility: hidden !important;}

  .bcg {
    opacity: 1; }
    /*Main Slides*/
  .slide {
    overflow: hidden;
    overflow-x: hidden; }
    .slide section {
      max-width: 400px; }
    .slide .wrapper {
      padding-top: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: left;
      width: 100%;
      margin: 0;
      }
    .slide#slide01, .slide#slide02, .slide#slide03 {
      color: #212121; }
      .slide#slide01 .wrapper, .slide#slide02 .wrapper, .slide#slide03 .wrapper {
        top: 20%;
        text-align: center;
        }
      .slide#slide01 section, .slide#slide02 section, .slide#slide03 section {
        margin: 0 auto; }
      .slide#slide01 {
        /*color: #ffffff;*/
        color: #333;
         }

    .slide#slide02 {
      color: #ffffff; }
      .slide#slide02 .wrapper {
        top: 10%;
        bottom: 10%;
        left: 20%;
        text-align: left;
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0);
        padding: 0; }
      .slide#slide02 section {
        margin: 0; }

    .slide#slide03 {
      color: #ffffff;
      max-height: 600px;}
      .slide#slide03 .wrapper {
        left: 60%;
        padding: 0;
        /*slide 3 position of soundcloud div*/
        top: -8%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
      .slide#slide03 section{
        margin: 0 auto;
        max-width: 570px; }
      .slide#slide03 .bcg {
        opacity: 0.1 !important; }


    .slide {
      color: #ffffff;
      position: relative; }
      .slide .wrapper {
        padding-top: 30px;
        text-align: center;
        position: relative;
        z-index: 2; }

      .slide#slide01 .wrapper {
        position: absolute;
        top: 22%; }

      .slide#slide02 .wrapper {
        position: absolute;
        bottom: 10%; }

        .slide#slide03 .wrapper {
          padding-top: 50px; }
        
      .slide#slide04 {
        background-color: #be4c2c; }

    .button {
      text-decoration: none;
      color: #ffffff;
      border: 1px rgba(255, 255, 255, 0.7) solid;
      padding: 8px 15px;
      margin-top: 30px;
      display: inline-block;
      position: relative; }
    .button:hover {
      border-color: #b3d4fc;}

  /* =Content Block */
  .content-block{
    background-color: #212121;
    color: rgba(255, 255, 255, 0.9); }
    .content-block .wrapper {
      /*padding: 100px 0;*/
      padding-top: 10px;
      padding-bottom: 146px;
      text-align: center; }
    .content-block#cb01 p{
      /*text-align: left;*/
    }
    .content-block#cb03{
      max-height: 394px;
    }
/*    .content-block#cb04 .wrapper{
      min-width: 340px;
    }*/
    .no-touch .content-block .wrapper {
      visibility: hidden;
      opacity: 0; }
    .no-touch .content-block.is-active .wrapper {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .content-block a:link {
      opacity: 1;
      background-color: #212121;
      color: rgba(255, 255, 255, 0.9); }
    .content-block a:hover{
      color: #b3d4fc;
    }


  /* =Footer */
  .footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d; }
    .footer-container h3 {
      margin: 0;
      padding: 20px 0;
      font-weight: normal; }
    .footer-container a {
      color: rgba(255, 255, 255, 0.5); }

  /* =Simple animation up */
  .no-touch .slideInUp {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  .no-touch .is-active .slideInUp {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slideInUp.slideInUp2 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .slideInUp.slideInUp3 {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }

  #iht_logo {
    width: 100px;
    margin-bottom: 30px; }

/* ==========================================================================
   For iphone 5
   ========================================================================== */

   @media screen and (device-aspect-ratio: 40/71) {

    .header-container {
      text-align: center;
      color: #ffffff;}

    .header-container .bcg {
      opacity: 0.5; }


    .slide#slide01 {
      color: #ffffff;
       }
      .slide#slide01 .bcg{
        opacity: 0.5 !important;
      }

    .slide#slide01 .wrapper {
      top: 30%; }


   }


/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
